@CHARSET "UTF-8";
#musicList {
	width:1000px;
	overflow:hidden;
	background-color: white;
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	margin:0 auto;
}

#musicList_choose {
	width:910px;
	margin:0 auto;
	padding-top:20px;
	border-bottom:2px solid #c20c0c;
}

#musicList_chooseBtn {
	margin-bottom:8px;
	margin-left:5px;
}

.popover-title {
	background-color: white;
}

.popover {
	max-width:1000px !important;
	min-width:500px !important;
	left:350px !important;
	margin-top:12px !important;
}

.popover-content {
	padding:0px !important;
}

.arrow {
	margin-left:-200px !important;
}

.musicList_menu {
	width:500px;
	height:70px;
	font-size:14px;
	padding:0px;
	margin:0px;
}

.musicList_left {
	margin-left:20px;
	padding-top:5px;
	width:100px;
	height:70px;
	font-weight: bolder;
	float:left;
	border-right:1px solid #d8d8d8;
}
.musicList_right {
	margin-left:30px;
	float:left;
	margin-top:5px;
}

.musicList_line {
	color:#d8d8d8;
	margin-left:5px;
	margin-right:5px;
}