<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanko.hwm.dao.UserSingerRelaMapper" >
  <resultMap id="BaseResultMap" type="com.ruanko.hwm.bean.UserSingerRela" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="singerId" property="singerid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, singerId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_singer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUserSingerRelaByUserid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_singer
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_singer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruanko.hwm.bean.UserSingerRela" >
    insert into tb_user_singer (id, userId, singerId
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{singerid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruanko.hwm.bean.UserSingerRela" >
    insert into tb_user_singer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="singerid != null" >
        singerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="singerid != null" >
        #{singerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruanko.hwm.bean.UserSingerRela" >
    update tb_user_singer
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="singerid != null" >
        singerId = #{singerid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruanko.hwm.bean.UserSingerRela" >
    update tb_user_singer
    set userId = #{userid,jdbcType=INTEGER},
      singerId = #{singerid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>